#sidebar {
  width: 25%;
  float: left;
  position: fixed;
  top: 50px;
  left: 10px;
}

#content {
  background: url(LedZep/lzbkg.jpg);
   background-size: 99%;
   width: 100%;
 }

#button {
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  background: #ffb951;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  align: center
}

#button:hover {
  background: #FFC36A;
  text-decoration: none;
}


#canvas {
  border: 10px solid #ffb951;
  border-radius: 25px;
  background: url(http://i.imgur.com/8n2p7bO.jpg)
}

#message {
  font-weight: bolder;
}

#beatlesBtn {
  background-image: url(sidebarbuttons/nBeatles.png);
  width: 200px;
  height: 85px;
}

#beatlesBtn:hover {
  background-image: url(sidebarbuttons/overBeatles.png);
}


#kissBtn {
  background-image: url(sidebarbuttons/nKiss.png);
  width: 200px;
  height: 85px;
}

#kissBtn:hover {
  background-image: url(sidebarbuttons/overKiss.png);
}

#lzBtn {
  background-image: url(sidebarbuttons/overLedZep.png);
  width: 200px;
  height: 85px;
}


p {
  font-family: 'Quicksand', sans-serif;
  font-size: 12;
  line-height: 80%;
}
p.small {
  font-family: 'Quicksand', sans-serif;
  font-size: 5;
  line-height: 60%;
}

ul {
    font-family: 'Quicksand', sans-serif;
    font-size: 14;
    list-style-type: none;
    margin: 10;
    padding: 10;
    font-weight: bold;
}

li {
  display: inline ;
}

td {
  padding: 20px;
}
